{% extends "layout.html" %}

{% block main %}

  <h1 class="headline-total">Stocks: ${{stocks_total }}</h1>
  <h1 class="white wallet-header">Account Value</h1>


<div class="zc-body">
    <div id='savings' class="chart--container"><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
    <script>
      ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
      var myConfig = {
        "globals": {
          "font-family": "Nunito Sans"
        },
        "graphset": [{
          "type": "area",
          "background-color": "#212121",
          "utc": true,
          "plotarea": {
            "margin-top": "10%",
            "margin-right": "dynamic",
            "margin-bottom": "dynamic",
            "margin-left": "dynamic",
            "adjust-layout": true
          },
          "labels": [
            {
              "text": "%plot-0-value",
              "default-value": "",
              "color": "#66c2a5",
              "x": "45%",
              "y": 50,
              "width": 120,
              "text-align": "left",
              "bold": 0,
              "font-size": "14px",
              "font-weight": "bold"
            }
          ],
          "scale-x": {
            "label": {
              "text": "Date Range",
              "font-size": "14px",
              "font-weight": "normal",
              "offset-x": "10%",
              "font-angle": 360,
              "color": "#fff"
            },
            "item": {
              "text-align": "center",
              "font-color": "#fff"
            },

                  "transform": {
                    "type": 'date',
                    "all": '%m/%d/%y<br>%h:%i %A'
                  },

            "zooming": 1,
            "max-labels": 10,
            "items-overlap": false,
            "guide": {
              "line-width": "0px"
            },
            "tick": {
              "line-width": "2px"
            },
          },
          "crosshair-x": {
            "line-color": "#fff",
            "line-width": 1,
            "plot-label": {
              "visible": false
            }
          },
          "scale-y": {
            "values": "0:10000:500",
            "item": {
              "font-color": "#fff",
              "font-weight": "normal"
            },
            "label": {
              "text": "Value",
              "font-size": "14px",
              "color": "#fff"
            },
            "guide": {
              "line-width": "0px",
              "alpha": 0.2,
              "line-style": "dashed"
            }
          },
          "plot": {
            "line-width": 2,
            "marker": {
              "size": 1,
              "visible": false
            },
            "tooltip": {
              "font-family": "Roboto",
              "font-size": "15px",
              "text": "$%v in %t on %data-days",
              "text-align": "left",
              "border-radius": 5,
              "padding": 10
            },
          },
          "series": [
            {

              "values": {{ data }},
              "line-color": "#66c2a5",
              "aspect": "segment",
              "background-color": "#66c2a5",
              "alpha-area": ".3",
              "font-family": "Roboto",
              "font-size": "14px",
              "text": "Stocks"
            }
          ]
        }]
      };

      zingchart.render({
        id: 'savings',
        data: myConfig,
        height: '100%',
        width: '100%'
      });
    </script>

  </div>



  <h1 class="white wallet-header">Positions</h1>


  <div class="zc-body">

    <div id="myChart" class="chart--container">
    </div>

    <script>
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"]; // CHART CONFIG
        // -----------------------------
        let chartConfig = {
          type: 'pie',
          backgroundColor: '#212121',
          subtitle: {
            text: '{{ date }}',
            align: 'left',
            fontColor: '#8e99a9',
            fontFamily: 'Nunito Sans',
            fontSize: '16px',
            offsetX: '10px',
            offsetY: '5px'
          },
          plot: {
            tooltip: {
              text: '%npv%',
              padding: '5 10',
              fontFamily: 'Open Sans',
              fontSize: '18px'
            },
            valueBox: {
              text: '%t\n%npv%',
              fontFamily: 'Open Sans',
              placement: 'out'
            },
            animation: {
              effect: 'ANIMATION_EXPAND_VERTICAL',
              method: 'ANIMATION_REGULAR_EASE_OUT',
              sequence: 'ANIMATION_BY_PLOT',
              speed: 500
            },
            borderColor: '#212121',
            borderWidth: '5px'
          },
          plotarea: {
            margin: '20 0 0 0'
          },
          source: {
            text: 'Source: gs.statcounter.com',
            fontColor: '#8e99a9',
            fontFamily: 'Open Sans',
            textAlign: 'left'
          },

          series: [{
              text: 'Apple',
              values: [34],
              backgroundColor: '#FF7965'
            },
            {
              text: 'Tesla',
              values: [12],
              backgroundColor: '#50ADF5'
            },
            {
              text: 'SPYDR',
              values: [9],
              backgroundColor: '#FFCB45'
            },
            {
              text: 'Shopify',
              values: [8],
              backgroundColor: '#6877e5'
            },
            {
              text: 'Nike',
              values: [6],
              backgroundColor: '#ff6596'
            },
            {
              text: 'Cisco',
              values: [4],
              backgroundColor: '#59c9c0'
            },
            {
              text: 'Starbucks',
              values: [4],
              backgroundColor: '#6669fa'
            },

            {
              text: 'Exxon Mobile',
              values: [3.5],
              backgroundColor: '#ffaa65'
            },
            {
              text: 'Other',
              values: [19.5],
              backgroundColor: '#6FB07F'
            }
          ]
        };

        // RENDER CHARTS
        // -----------------------------
        zingchart.render({
          id: 'myChart',
          data: chartConfig,
          height: '100%',
          width: '100%',
        });
      </script>


  </div>

<table class="table custom-table">
  <thead class="white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ticker</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Cost</th>
      <th scope="col">Gain</th>
    </tr>
  </thead>
  <tbody>
    {% for row in positions %}
      <tr class="background-white">
        <th scope="row">{{ loop.index }}</th>
          {% for element in row %}
            <td>{{ element }} </td>
          {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}